* {
  font-family: Montserrat;
  color: black;
  font-weight: 300;
}

p {
  font-size: 15px;
}

body {
  /* height: 100%;
  width: 100%; */
  /* margin: 5px; */
  background-color: rgb(245, 255, 255);
}

.tg {
  border-collapse: collapse;
  border-spacing: 0;
}
.tg td {
  width: 30px;
  height: 20px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-size: 14px;
  overflow: hidden;
  padding: 4px 5px;
  word-break: normal;
}
.tg th {
  width: 30px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 5px 5px;
  word-break: normal;
}
.tg .tg-1wig {
  width: 30px;
  font-weight: bold;
  text-align: center;
  vertical-align: center;
}
.tg .tg-0pky {
  width: 30px;
  border-color: inherit;
  text-align: center;
  vertical-align: center;
}
.tg .tg-0lax {
  width: 30px;
  text-align: center;
  vertical-align: center;
}

.moving_box_right_position {
  height: 100px;
  width: 50%;
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(39, 106, 245, 0.6);
  position: absolute;
  transform: translateX(50%);
  transition: 0.3s;
}

.moving_box_left_position {
  height: 100px;
  width: 50%;
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 200, 200, 0.6);
  position: absolute;
  transform: translateX(-50%);
  transition: 0.3s;
}

/* animations */

.shake {
  transform: rotate(0.5turn);
}
